[Unit]
Description= demo fastapi application
After=network.target

[Service]
User=rakshith
Group=rakshith
WorkingDirectory=/home/rakshith/app/src
Environment="PATH=/home/rakshith/app/venv/bin"
EnvironmentFile=/home/rakshith/.env
ExecStart=/home/rakshith/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target